@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: var(--font-work-sans);
  scroll-behavior: smooth !important;
}

h1,
h2 {
  font-family: var(--font-anton);
  line-height: 112.5%;
}

h1 {
  font-size: 7.5rem;
}
h2 {
  font-size: 6rem;
}
h3 {
  font-size: 1.5rem;
  font-weight: 500;
}
h4 {
  font-weight: 500;
}

a {
  @apply underline;
}

.section-layout {
  @apply grid grid-cols-12 space-y-12;
}

.section-layout > * {
  @apply col-span-7;
}

.section-layout > .right {
  @apply col-start-9 col-span-4;
}

@keyframes marquee-scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 2rem));
  }
}

.marquee-scroll {
  animation: marquee-scroll 10s linear infinite;
}

@media (prefers-reduced-motion: reduce) {
  .marquee-scroll {
    animation: none; /* Disables animation */
  }
}
